PORT=3000

# for database
DATABASE_URL=*******************
DIRECT_URL=*******************


# for Redis
UPSTASH_REDIS_REST_URL=*******************
UPSTASH_REDIS_REST_TOKEN=*******************